→
    text-align: center;
    padding: 40px;
}

div#nav {
    align: center;
    text-align: center;
}

.jumbotron {
    padding: 40px;
}

.nav-link active {
    bold: true;
}

a {color:blue}

#maincon {
    margin: 0px,40px
}
